@page "/Account-Login"

<h1>Hello World!</h1>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="Account-Login">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Hello World!
    </NavLink>
</li>